body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(175, 180, 201);
  font-family: "Kanit", sans-serif;
  font-size: 5vw;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
main {
  margin: 0 auto;
  display: block;
  padding: 3vw 0 0 0;
  max-width: 80vw;
}
h1 {
  font-size: 7vw;
  font-weight: bold;
  margin: 1vw 0 1vw 0;
}

.accordion {
  width: 100%;
}

.accordion-item {
  display: block;
  border-bottom: solid 0.1vw rgb(205, 205, 205);
  padding: 0.3vw 0 0.3vw 0;
  width: 100%;
  cursor: pointer;
}
.accordion-item:first-child {
  border-top: solid 0.1vw rgb(205, 205, 205);
}
.accordion-input {
  display: none;
  appearance: none; /*hide radiobutton */
  width: 0;
  height: 0;
  margin: 0;
}
.accordion-title {
  width: 100%;
  color: blue;
  margin: 0;
  padding: 0.5vw 0 0.5vw 0;
  cursor: pointer;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.accordion-title .acc_img {
  grid-column: 1/3;
  justify-self: center;
}
.accordion-title .icon {
  grid-column: 2/3;
  justify-self: end;
}
.acc_img {
  height: 0;
  opacity: 0;
  transition: 1s;
  padding: 0.5vw 0 0.5vw 0;
}
.icon {
  opacity: 0;
}

/* _________________HOVER AND CHECKED______________ */
.accordion-input:checked + .accordion-title > .acc_img {
  height: 50vw;
  opacity: 1;
}
.accordion-input:checked + .accordion-title {
  color: black;
}

/* ___________________________MEDIA____________ */
@media (min-width: 320px) {
  main {
    font-size: 5vw;
  }
  h1 {
    font-size: 6.5vw;
  }
}
@media (min-width: 820px) {
  main {
    font-size: 3.5vw;
  }
  h1 {
    font-size: 5vw;
  }
}
@media (min-width: 1920px) {
  main {
    font-size: 1.5vw;
    max-width: 50vw;
  }
  h1 {
    font-size: 2.5vw;
  }
  .accordion:hover .accordion-title {
    color: black;
  }
  .accordion:hover .icon {
    opacity: 1;
    transition-duration: 0.5s;
  }
  .accordion-input:checked + .accordion-title:hover {
    color: black;
  }

  .accordion-input:checked + .accordion-title > .acc_img,
  .accordion-input:hover + .accordion-title > .acc_img {
    height: 30vw;
    opacity: 1;
  }
  .accordion-input:hover + .accordion-title .icon,
  .accordion-input:checked + .accordion-title .icon {
    display: inline-block;
    transform: rotate(45deg);
  }
  .accordion-input:active + .accordion-title > .acc_img,
  .accordion-input:active + .accordion-title {
    opacity: 0.3;
  }
}
